
div{
	border: 1px solid black;
	width:580px;
	margin:20px;
}
.m {
  width: 400px;
  border: 15px solid blue;
  padding: 50px;
  margin: 30px;
	background-color:lightblue;
	outline-style:solid;
}
.m1{
	border: 2px solid black;
	width:300px;
	padding:50px;
	margin: 0px;
}
.m2{
	border-style:dashed;
	width:280px;
	padding:20px;
	margin: 0px;
}
